.contacts {
        border-width: 1px;
        border-style: solid;
        border-color: grey;
        display: flex;
        margin: 20px;
}
.create {
        display: flex;
        justify-self: center;
}
.card {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-top: 1rem;
}
.datos {
        display: grid;
        align-content: center;
        width: 60%;
}
.card-img {
        width: 25%;
}
.botones{
        align-content: center;
}
